<!DOCTYPE html>
<html>
    <head>
        <title>Food Cart</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/styles.css" /> -->
        <!-- <script src="store.js"></script> -->
    </head>
    <body>

        <h1>hello</h1>
             <!-- <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Chinese Combos</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for( let bod of bd){ %> 
                      <tr>
                         <th scope="row"><i><%= octicon "mark-github" %></i></th> 
                        <td><%= bod.name %></td>
                        <td><%= bod.price %></td>
                      </tr>
                    <%  } %>
                    </tbody>
                  </table>  -->

        <!-- <section class="container content-section">
            <h2 class="section-header">Foods Cart</h2>
            <% for( let bod of bd){ %> 
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title"><%= bod.name %></span>
                    <div class="shop-item-details">
                        <span class="shop-item-price"><%= bod.price %></span>
                        <button class="btn btn-primary op-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <%  } %>
        </section> -->

        <!-- <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section> -->
    </body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>